body { font-family: georgia, serif; font-size:
          11px; } 
#content { width: 550px; position: center; margin: auto;
          margin-top: 40px; margin-bottom: 40px;} 
p { line-height: 16px;}
p.bibref { text-indent: -25px; margin-left: 25px; } 
li { margin-bottom: 10px; margin-left:20px; margin-right:20px;line-height: 16px; } 
a { text-decoration: none; color: black; }
a:hover { background: #F3FCC0; } 
span.bold { font-weight: bold; }
span.italic { font-style: italic; } 
blockquote { line-height: 16px; }
#notes { margin-top: 60px; } 
#bibliography { margin-top: 60px; } 
div.image { margin-top: 20px; margin-bottom: 40px; text-align: center; }
p.caption { font-family: optima, arial, sans-serif; font-weight: bold; }
div.epigraph { text-align: right; }
div.epigraph p { font-style: italic; margin-bottom: 15px; }
h1 { margin-bottom: 30px; }
div.label { font-size: 30px; color: silver; font-weight: bold; font-style: italic; margin-bottom: 30px; }